* {
    box-sizing: border-box;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--med) var(--pale);
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--pale);
}
*::-webkit-scrollbar-thumb {
  background: var(--med);
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--pale);
}

:root {
    font-family: system-ui, -apple-system, 'Segoe UI', sans-serif;
    font-size: 1rem;
    font-synthesis: weight;
    -webkit-font-smoothing: antialiased;

    --white: #ECE7D1;
    --pale: #DBCEA5;
    --light: #8E977D;
    --med: #3E3F29;
    --black: #201A1B;

    --photodrop: 0px 10px 28px rgba(32, 26, 27, 0.45);
    --cut: inset 0px 0px 32px rgba(62, 63, 41, 0.25);

}

html {
    height: -webkit-fill-available;
}


body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    background-color: var(--pale);
    color: var(--black);
    padding: 0px 20px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: var(--med);
}